.Countdown-holder {
  margin-top: 20%;
  text-align: center;
  font-size: 1.6em;
}

.Count-days, .Count-hours, .Count-minutes, .Count-seconds {
  display: inline;
  margin-left: 15px;
}

.Form-button {
  margin: 5px;
}
